{
    "extends": "standard",
    "plugins": ["html"],
    "rules": {
        // allow async-await
        "generator-star-spacing": "off",
        // js语句结尾必须使用 ;
        "semi": ["error", "always"],
        // 三等号
        "eqeqeq": 0,
        // 强制在注释中 // 或 /* 使用一致的空格
        "spaced-comment": 0,
        // 关键字后面使用一致的空格
        "keyword-spacing": 0,
        // 强制在 function的左括号之前使用一致的空格
        "space-before-function-paren": 0,
        // 引号类型
        "quotes": [0, "single"]
        // "vue/no-parsing-error": [2, { "x-invalid-end-tag": false }],
      }
}