.gold_bg {
  background: url('~@image/snake/geometry.png');
  height: 100vh;

  .sidebar_h3 {
    text-align: center;
  }

  .noScroll {
    height: 100vh;
  }

  .game_container {
    position: relative;
  }

  .svg_dise {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hooksLine {
    stroke: #000;
    stroke-width: 1;
  }

  .items_class {
    position: absolute;
    width: 50px;
    height: 50px;
  }

  .gold_1 {
    background: #000;
  }

  .gold_2 {
    background: #000;
  }

  .gold_3 {
    background: #000;
  }

  .gold_4 {
    background: #000;
  }

  .stone_1 {
    background: #ff0;
  }

  .stone_2 {
    background: #ff0;
  }

}
