.gold_bg {
  background: url('~@image/snake/geometry.png');
  height: 100vh;

  .sidebar_h3 {
    text-align: center;
  }

  .noScroll {
    height: 100vh;
  }

  .game_container {
    position: relative;
  }

  .svg_dise {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hooksLine {
    stroke: #000;
    stroke-width: 1;
  }
}
