.gold_bg {
  background: url('~@image/snack/geometry.png');
  height: 100vh;

  .sidebar_h3 {
    text-align: center;
  }

  .noScroll {
    height: 100vh;
    overflow: hidden;
  }

  .wohu {
    width: 150px;
    height: 150px;
    background: #000;
  }
}
