.snake_bg {
  background: url('~@image/snake/geometry.png');
  height: 100vh;
}

.sidebar_h3 {
  text-align: center;
  margin: 0 0 15px 0;
}

.cont_btn .paper-btn {
  margin: 0 1rem;
}

.normal_board {
  width: 202px;
}

.hard_board {
  width: 402px;
}

.crazy_board {
  width: 802px;
}

.hell_board{
  width: 902px;
}

.board {
  border: 1px solid #888;
  margin: 10px auto;
}

.sigleCheck {
  text-align: center;
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  float: left;
  user-select: none;
}

.sigleCheck:hover {
  opacity: .8;
}

.null {
  background: #dedede;
}

.number {
  background: #dedede;
  font-weight: bold;
}

.mine {
  background: url('~@image/sweep/mine.png') no-repeat center center;
  background-size: 100% 100%;
}

.mineNot {
  background: url('~@image/sweep/mineNot.png') no-repeat center center;
  background-size: 100% 100%;
}

.mineError {
  background: url('~@image/sweep/mineError.png') no-repeat center center;
  background-size: 100% 100%;
}

.mineSuccess {
  background: url('~@image/sweep/mineSuccess.png') no-repeat center center;
  background-size: 100% 100%;
}

.isCheck {
  background: #888;
}

.isTip {
  background: rgb(204, 204, 190);
}

.flag {
  background: url('~@image/sweep/flag.png') no-repeat center center;
  background-size: 100% 100%;
}

.mine_img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  vertical-align: middle;
}

.right_top {
  padding-left: 110px;
}

.mine_tip {
  padding-left: 30px;
  display: inline-block;
}

.user-date{
  display: inline-block;
  padding-left: 30px;
}
